{% extends "base.html" %}
{% block content %}

<h1 class="text-center">Welcome to Office Supplies Internal Tool!</h1>
<br>
<!-- <p>Click <a href="/logout">here</a> to logout.</p> -->
<br><br>

<div class="container">
  <div class ="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center" >Performance by location</div>
      <div class="panel-body">
          <div class="description" style="text-align: center">
            View which states provide the most and least profit.
          </div>
          <div style="text-align: center">
            <a href="/insight-one" style="color:white"><button class="btn btn-warning">  GO</button> </a>
            </div>
        </div>
    </div>
  </div>
  <div class ="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center">Product returns</div>
      <div class="panel-body">
          <div class="description" style="text-align: center">
              View which items are returned the most. 
          </div>
          <div style="text-align: center">
            <a href="/insight-two" style="color:white"><button class="btn btn-warning">  GO</button> </a>
          </div>
        </div>
    </div>
  </div>
  <div class ="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center">Sales representatives</div>
      <div class="panel-body">
          <div class="description" style="text-align: center">
              View sales representative's performance. 
          </div>
          <div style="text-align: center">
            <a href="/insight-three" style="color:white"><button class="btn btn-warning">  GO</button> </a>

            </div>
        </div>
    </div>
  </div>
  <div class ="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center">Register Users</div>
      <div class="panel-body">
        <div class="description" style="text-align: center">
          Register new users to have access to the system.
        </div>
        <div style="text-align: center">
          <a href="/register" style="color:white"><button class="btn btn-warning">  GO</button> </a>

        </div>
      </div>
    </div>
  </div>
</div>




<!-- <h3>Posts:</h3>

{% for name in name %}
  <strong>ID:</strong> {{ name.EmployeeID }} <br>
  <strong>First Name:</strong> {{ name.FirstName }} <br>
  <strong>Last Name:</strong> {{ name.LastName }} <br>
<br>
{% endfor %} -->

<style>
    .insightTitle{
      text-align: center;
    }
    .description{
      font-size: 18px;
      text-align: center;
    }
    .btn-warning{
      margin-top: 50px;
      width: 100px;
    }
    .panel-heading{
      font-size: 20px;
      font-weight: bold;
    }
  
  </style>

{% endblock %}

