{% extends "base.html" %}
{% block content %}

<h1 class="text-center">Welcome to Flask!</h1>
<br>
<p>Click <a href="/logout">here</a> to logout.</p>
<br><br>

<div class="container">
  <div class ="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center" >Performance by location</div>
      <div class="panel-body">
          <div style="text-align: center">
              Panel Content
          </div>
          <div style="text-align: center">
              <button class="btn btn-primary"> <a href="/register" style="color:white"> GO</a></button>
            </div>
        </div>
    </div>
  </div>
  <div class ="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center">Product returns</div>
      <div class="panel-body">
          <div style="text-align: center">
              Panel Content
          </div>
          <div style="text-align: center">
            <button class="btn btn-primary"> <a href="/register" style="color:white"> GO</a></button>
          </div>
        </div>
    </div>
  </div>
  <div class ="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center">Sales representatives</div>
      <div class="panel-body">
          <div style="text-align: center">
              Panel Content
          </div>
          <div style="text-align: center">
              <button class="btn btn-primary"> <a href="/register" style="color:white"> GO</a></button>
            </div>
        </div>
    </div>
  </div>
  <div class ="col-lg-6">
    <div class="panel panel-primary">
      <div class="panel-heading" style="text-align: center">Register Users</div>
      <div class="panel-body">
        <div style="text-align: center">
            Panel Content
        </div>
        <div style="text-align: center">
            <button class="btn btn-primary"> <a href="/register" style="color:white"> GO</a></button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <h3>Posts:</h3>

{% for name in name %}
  <strong>ID:</strong> {{ name.EmployeeID }} <br>
  <strong>First Name:</strong> {{ name.FirstName }} <br>
  <strong>Last Name:</strong> {{ name.LastName }} <br>
<br>
{% endfor %} -->

{% endblock %}


<style>
  .insightTitle{
    text-align: center;
  }

</style>